*:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-outline: 0;
  -moz-outline: 0;
  outline: 0;
}

html {
  height: 100%;
  background: $body-bg;
  body {
    font-size: $font-size-base;
    min-height: 100%;
    background: $body-bg;
    color: $text-color;
    padding: $headerHeight 0 0 0 ;
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Base tags

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a[href*=mailto],
a[href*=tel] {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  margin-top:0;
  padding: 0 0 0.5em 0;
}

h1,h2,h3 {
  color: $brand-primary;
}

h1 {
  font-size: $font-size-base*2;
}

h2 {
  font-size: $font-size-base*1.5;
}

h3 {
  font-size: $font-size-base*1.2;
}

h4,h5,h6 {
  font-size: $font-size-base;
}
@media( max-width: $screen-sm-max ) {
  h1 {
    font-size: $font-size-base*1.5;
  }

  h2 {
    font-size: $font-size-base*1.2;
  }

  h3 {
    font-size: $font-size-base;
  }

  h4,h5,h6 {
    font-size: $font-size-base;
  }
}

hr {
  border: none;
  border-top: 3px solid #f5f5f5;
}

small {
  line-height: 1.1em;
}

header {
  opacity: 0.5;
}

.wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  border: green solid 5px;
  position: relative;
  float: left;
}

main[role=main] {
  position: relative;
  display: table;
  padding: 0;
  margin: 0;
  margin: auto;
  //padding-top: $headerHeight;
  padding-bottom: $section-vert-gap;
  font-size: $font-size-base;
  border: red solid 5px;
  @extend .container;
  height:3000px;
}
.onecol main[role=main] {
  @extend .col-md-12;
}

aside, .sidebar {
  padding-top: $section-vert-gap;
  padding-bottom: $section-vert-gap;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Base elements

.main-content {
  min-height: 85vh;
  background: #f5f5f5;
}

// xl button

$font-size-xlarge: ceil(($font-size-base * 2)) !default; // ~18px
.btn-xl {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-xlarge, $line-height-large, $btn-border-radius-large);
}

// make imgs squared

.emptysquare {
  width:100%;
  height:auto;
}

// thumbnail

.thumbnail,
a.thumbnail {
  background: white center center no-repeat;
  background-size: cover;
  border: 1px solid #ddd;
  > img,
  img {
    width: 100%;
    height: auto;
  }
  a:hover &,
  &:hover{
    border-color: $brand-primary;
  }
}

// generic box

.box { @include box(); }


// bootstrap panel

.panel {
  border: 1px solid #ddd;
  -webkit-border-radius: 0 ;
  -moz-border-radius: 0;
  border-radius: 0;
  .panel-heading {
    border-color: #ddd;
    .panel-title {
      padding-top: 0;
      padding-bottom: 0;
      font-weight: bold;
    }
  }
  .panel-footer   { color: $text-color; }
  &.panel-primary .panel-footer   { background-color: $panel-primary-heading-bg; color: $panel-primary-text;}
  &.panel-success .panel-footer   { background-color: $panel-success-heading-bg; color: $panel-success-text; }
  &.panel-info .panel-footer      { background-color: $panel-info-heading-bg; color: $panel-info-text; }
  &.panel-warning .panel-footer   { background-color: $panel-warning-heading-bg; color: $panel-warning-text; }
  &.panel-danger .panel-footer    { background-color: $panel-danger-heading-bg; color: $panel-danger-text; }
}
