article.page ul,
article.post ul,
ul.simple-list {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style-type: disc;
    list-style-position: inside;
  }
  ul, ol {
     list-style-type: disc;
     list-style-position: inside;
     margin-left: 0.5em;
  }
}

ol {
   list-style-type: decimal;
   list-style-position: inside;
   ul, ol {
      list-style-type: lower-latin;
      list-style-position: inside;
      margin-left: 0.5em;
   }
}

.panel,
article.page .panel,
article.post .panel,
.clean-list,
article.page .clean-list,
article.post .clean-list {
  ul {
    padding: 0.5em 0;
    li {
      display: block;
      padding: 0 0 1em 0;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

ul.icon-list {
  display: block;
  padding: 0;
  margin: 0;
  li {
    border: red solid 1px;
    display: block;
    padding: 0;
    margin: 0;
  }
}
