.article-title {
  //margin-bottom: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.article-date {
  font-weight: bold;
  margin-bottom: 1em;
  display: block;
}

.advices {
  padding: 1em;
  text-align: center;
  font-size: $font-size-base*0.8;
}
